<div class="admin-page">
  <div class="admin-page__inner">
    <h2 class="admin-page__title">商品編集</h2>

    <div class="admin-item-form">
      <%= render "form", item: @item %>
    </div>
  </div>
</div>
