<div class="admin-page">
  <div class="admin-page__inner">
    <h2 class="admin-page__title">管理者トップページ</h2>

    <div class="admin-home">
      <p class="admin-home__msg">ログインに成功しました！お疲れ様です！</p>
    </div>
  </div>
</div>
