<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      
      <h2 class="font-weight-bold my-5">ご注文ありがとうございました！</h2>
      
      <p class="mb-5">
        ご注文内容の確認メールをお送りしました。<br>
        商品の発送まで今しばらくお待ちください。
      </p>

      <%= link_to "商品一覧へ戻る", items_path, class: "btn btn-primary btn-lg" %>
      
    </div>
  </div>
</div>